Gracias, eres un héroe sin capa!!


<br>

<pre>
            .-"""-.    .-"""-.
           /       `..'       \
          ;  ___      _     _  ;
          |   |   |  / \| ||_  |
          ;  _|_  |__\_/|/ |_  ;
           \        _         /
            \__ \_// \| |    /
        _   /  | | \_/\_/  /'
       | \  \/_/\        /'
       \_\| / __ `\    /'
          \/_/__\  `\/'     .--='/ \
   ____,__/__,_____,______)/   /{ }}}
   -,-----,--\--,-----,---,\'-' { }}
           __/\_            '--=.\}/
          /_/ |\\
               \/
</pre>
<br>


 <a class="" href="{% url 'Bienvenida' %}"><button class="btn btn-dark"> IR al INICIO </button></a>