{% extends 'cero.html' %}


{% load static %}

{% block title %}Muebles{% endblock %}

{% block content %}





<div class="container">


  

    
  </div>


<!-- Heading -->

<section class="page-section clearfix">
<div class="container">

   
  <div class="intro">

    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/principal.webp' %}" alt="">

    

    <div class="intro-text left-0 text-center bg-faded  rounded" style="background-color: rgba(194, 194, 194,.5);">
          <h4>MUEBLES DE DISEÑADOR<br>EN CDMX</h4>
          <br> 
          <button class="btn btn-dark " style="font-size:15px;">
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
  <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
</svg>
           Entregas en la CDMX <br> y área metropolitana </button>
      
    </div>

  </div>
</div>
</section>
  

<!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded" style="background-color:white;">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower" style="text-transform: uppercase;">Garantizado</span>
              </h2>
              <p class="mb-3">Inspirados en las tendencias del diseño europeo, en nuestro Taller Familiar hemos estado desarrollando muebles modernos que aportan un ambiente de confort y alegría al hogar. La cuidadosa selección de materiales y componentes para la producción nos permite declarar con confianza que al pedirnos una cocina u otro producto, estará satisfecho con la calidad y la larga vida útil de los muebles.<br>¡En nuestro taller hay una solución para cualquier tarea difícil!</p>
         
            </div>
          </div>
        </div>
      </div>
    </section>  

<section class="page-section clearfix">
<div class="container">

   
  <div class="intro">

    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/tv.webp' %}" alt="">

    

    <div class="intro-text left-0 text-center bg-faded  rounded" style="background-color: rgba(194, 194, 194,.5);">
          
<a href="{% url 'filtro' 4 %}" style="text-decoration:none;">
          <h2 class="section-heading mb-4">
                
                <span class="section-heading-lower"style="color:darkblue;">UNIDADES DE TV SUSPENDIDAS</span>
                <span class="section-heading-upper"style="color:darkblue;">Y OTRAS SOLUCIONES PARA UNA SALA DE ESTAR CON ESTILO</span>
              </h2>
          
          <button class="btn btn-primary">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-index-thumb" viewBox="0 0 16 16">
          <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
          </svg> Descubrir más</button>
      </a>
    </div>

  </div>
</div>
</section>

<section class="page-section clearfix">
<div class="container">

   
  <div class="intro">

    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/cocina.webp' %}" alt="">

    

    <div class="intro-text left-0 text-center bg-faded  rounded"style="background-color: rgba(194, 194, 194,.5);">
    <a href="{% url 'filtro' 2 %}"style="text-decoration:none;">      

          <h2 class="section-heading mb-4">
                
                <span class="section-heading-lower" style="color:darkblue;">COCINA PERSONALIZADA <br></span>
                <span class="section-heading-upper"style="color:darkblue;">PROYECTO DE DISEÑADOR</span>
              </h2>
          
          <button class="btn btn-primary">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-index-thumb" viewBox="0 0 16 16">
          <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
          </svg> Descubrir más</button>
      </a>
    </div>

  </div>
</div>
</section>

<section class="page-section clearfix">
<div class="container">

   
  <div class="intro">

    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/armario.webp' %}" alt="">

    

    <div class="intro-text left-0 text-center bg-faded  rounded"style="background-color: rgba(194, 194, 194,.5);">
    <a href="{% url 'filtro' 1 %}"style="text-decoration:none;">     

          <h2 class="section-heading mb-4">
                
                <span class="section-heading-lower"style="color:darkblue;">ARMARIOS  <br></span>
                <span class="section-heading-upper"style="color:darkblue;">ESPACIOSOS Y MODERNOS PARA LA CASA</span>
              </h2>
          
          <button class="btn btn-primary">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-index-thumb" viewBox="0 0 16 16">
          <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
          </svg> Descubrir más</button>
      </a>
    </div>

  </div>
</div>
</section>
<br>
<section>
  <a href="{% url 'Categorias' %}"style="text-decoration:none;">
  <button class="btn btn btn-success" style="display:flex; justify-content:center; float:center; margin:auto; ">Todas las categorías</button></a>
</section>


{% endblock %}